main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    gap: 5%;
  }

  











  /*Мобилки*/

@media (max-width: 768px) or (max-height: 760px) {
    main {
      margin-left: 0;
      height: fit-content;
    }

  }
  