
/* Основные стили для заголовков */
.content {
    margin-top: 8.3vh;
    margin-left: 5.9vw;
}

.title .services-title {
    font-size: 1.3rem;
    font-style: italic;
    margin-bottom: 10px;
}

.title .profile-title {
    font-size: 3.3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Стили для контейнера услуг */
.services {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Отступ между блоками */
}

/* Стили для каждого блока услуги */
.block {
    width: 64.3vw;
    border-bottom: 1px solid grey;
    /* border: 1px solid #ccc; */
    /* border-radius: 8px; */
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    position: relative; /* Для псевдоэлемента */
}

.block:hover {
    background-color: #f9f9f9;
}

/* Стили для заголовка блока */
.service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-header p {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: black;
    position: relative; 
}

.service-header p::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b); 
    transition: width 0.3s ease; 
}

/* Подчеркивание для активного блока */
.block.active .service-header p::after {
    width: 100%;
}

.block.active .service-header p {
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: bold;
}

.toggle-icon {
    font-size: 24px;
    font-weight: bold;
    transition: transform 0.3s ease; /* Анимация для плюсика */
}

/* Стили для скрытого контента */
.service-content {
    display: none;
    opacity: 0;
    transform: translateY(-10px);
}

.service-content p{
    font-size: 1.2rem;
}

/* Класс для развернутого блока */
.block.active .service-content {
    align-self: center;
    width: 28.3vw;
    opacity: 1;
    transform: translateY(0);
    display: flex;
    align-items: start;
    margin-left: 36vw;
    flex-direction: column;
    gap: 3vh;
    transition: opacity 10s ease, transform 10s ease;
}

.service-content img{
    width: 22.3vw;
    height: auto;
}

.block.active .toggle-icon {
    transform: rotate(45deg); /* Поворот "+" на "×" */
}

