.menu {
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(14vw + 3vh);
  height: 100vh;
  box-sizing: border-box;
  padding-inline: 3vw;
  padding-block: 3vh;

  background-color: black;
  color: white;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar a {
  margin-block: .7vh;

  font-size: .7em;
  text-decoration: none;
  color: white;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  margin-block: .7vh;
}

.links a img{
  height: calc(4vh + 2vw);
}

.copyright {
  font-size: 0.5em;
}
