.menu-landscape{
  display: flex;
  flex-direction: column;
  padding-inline: 2vw;

  background-color: black;
  color: white;
}

.menu-landscape > .navbar,
.menu-landscape > .links{
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
}

.menu-landscape > .logo{
  margin-top: 3vh;

  font-size: 2rem;
  font-weight: bold;
}

.menu-landscape a{
  margin-block: 1vh;
  text-decoration: none;
  color: white;
}

.menu-landscape > .links img{
  height: calc(3.5vh + 1.5vw);
}

.menu-landscape > .copyright{
  position: absolute;
  bottom: 3vh;
  right: 1vw;
  left: 1vw;
  font-size: 0.6rem;
}

/*Пока адаптивка для горизонтальной ориентации, для телефонов наверное лучше меню сверху*/
@media screen and (orientation: landscape) and (max-height: 360px) {
  .menu-landscape > .copyright{
    position: relative;
    margin-top: 3vh;
    bottom: 0vh;
    right: 0vw;
    left: 0vw;
  }
}