@font-face {
  font-family: "main";
  src: url("/assets/fonts/menu.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "main";
}

main{
  margin-left: calc(14vw + 3vh);
}

@media (max-width: 535px){
  body{
    font-size: 13px;
  }
}

@media (max-width: 390px){
  body{
    font-size: 8px;
  }
}

@media (max-width: 260px){
  body{
    font-size: 6px;
  }
}