@font-face {
  font-family: "main";
  src: url("../assets/fonts/IBM_Plex_Sans/IBMPlexSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "logo";
  src: url("../assets/fonts/IBM_Plex_Serif/IBMPlexSerif-Bold.ttf");
}

@font-face {
  font-family: "sans_medium";
  src: url("../assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: "sans_bold_italic";
  src: url("../assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-BoldItalic.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "main";
}

body {
  display: flex;
  height: auto;
}

/* ==== Меню ==== */
.menu {
  width: 20vw;
  max-width: 250px;
  height: 100vh;
  min-height: fit-content;
  padding-inline: 3%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  display: flex;
  flex-direction: column;

  padding-block: 3vh;
  transition: top 0.7s ease-out;
}

.logo {
  margin-top: 2vh;
  font-family: "logo";
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}

.navbar {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 1.3rem;
}

.navbar a:hover,
.navbar a.active {
  font-weight: bold;
  font-size: 1.6rem;
  border-left: 4px solid white;
  padding-left: 10px;
}

.links {
  flex-direction: column;
  margin-top: 10%;
  display: flex;
  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.links a img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

.links a:hover img {
  transform: scale(1.2);
}

.copyright {
  font-size: 1rem;
  color: white;
  text-align: left;
  padding-bottom: 15px;
}

/* Основной контент */
main {
  margin-left: 20vw;
  padding: 20px;
}

@media screen and (min-width: 1250px) {
  main {
    margin-left: 250px;
  }
}

/* ==== Мобильное меню ==== */
.mobile-header {
  display: none;
  background: #222;
  color: white;
  padding: 10px 15px;
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  max-height: 15vh;
  min-height: fit-content;
  top: 0;
  left: 0;
  z-index: 1000;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
}

/* ==== Адаптация под мобильные устройства ==== */
@media (max-height: 660px) {
  /*html {
     font-size: 10px; 
  }*/

  .links {
    display: none;
  }

  .navbar {
    gap: 0;
  }

  .links {
    margin: 0;
    padding: 3%;
  }
}

@media (max-width: 768px) or (max-height: 835px) {
  html {
    font-size: 12px;
  }

  .menu {
    width: 100%;
    top: -300%;
    align-items: start;
    padding-top: 5vh;
    font-size: 12px;
    z-index: 900;
  }

  .navbar {
    font-size: 12px;
  }

  .menu.active {
    top: 0;
  }

  .menu .logo {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu-toggle {
    display: block;
  }

  .logo {
    margin-bottom: 0;
  }

  .links {
    padding-left: 15px;
  }

  .links a img {
    width: 25px;
    height: 25px;
    transition: transform 0.2s ease-in-out;
  }

  body {
    margin-top: 10vh;
  }

  main {
    margin-left: 0;
    font-size: 14px;
  }
}
