@font-face {
  font-family: "main";
  src: url("/assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "sans_medium";
  src: url("/assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "sans_bold_italic";
  src: url("/assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-BoldItalic.ttf");
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 4%;
  margin-left: 15vw;
  padding: 0;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
}

/* ==== Информация сайта ==== */

.content {
  display: flex;
  flex-basis: auto; /* Задайте одинаковую ширину */
  max-width: 70%; /* Ограничите максимальную ширину */
  flex-direction: column;
}

.horizontal_line {
  max-width: 100%;
  width: 60vw;
}

/* ==== Верхняя половина ==== */

.upper_content {
  display: flex;
  flex-direction: row;
  padding-left: 8%;
  gap: 5vw;
}

/* Левая часть */

.upper_content .text p:first-child {
  font-family: "main";
  font-size: 1.3em;
  /* word-wrap: break-word; */
}

.upper_content .text p:nth-child(2) {
  font-family: "main";
  font-size: calc(20px + 30 * (100vw - 320px) / 960);
}

.photo {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  width: 25vw;
  margin-block: calc(2vw + 2vh);
}

.photo img {
  max-width: 100%;
}

.photo figcaption span {
  font-size: 2.2em;
  text-transform: uppercase;
  color: #e36c11;
}

.upper_content .CV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  padding: 4%;
  cursor: pointer;
}

.upper_content .CV a {
  color: black;
}

.upper_content .CV img {
  background-color: black;
  max-height: 2vh;
  min-height: 24px;
  margin-left: 10%;
}

/* Правая часть */

.upper_content .right-side {
  margin-top: 15vh;
  padding-left: 2vw;
}

.contact_info {
  display: flex;
  /* justify-content: space-between; */
  gap: 1vw;
}

.contact_info p {
  font-family: "sans_bold_italic";
  font-size: 18px;
  width: 15vw;
}

.contact_info img {
  width: 3vw;
  min-width: 20px;
}

.phone,
.mail,
.experience,
.location {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.experience_inf {
  margin-top: 4vh;
  display: flex;
  justify-content: space-between;
}

.experience_inf .experience_inf_block:first-child {
  margin-right: 7%;
}

.experience_inf_block {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.experience_inf_block p:first-child span {
  font-size: 2em;
  color: #b300ff;
}

.lorem_ipsum {
  display: flex;
  align-items: center;
  margin-top: 4vh;
  padding: 5%;
  background-color: black;
  color: white;
}

.lorem_ipsum img {
  margin-right: 5%;
}

/*Нижняя часть*/

.lower_content {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  margin-bottom: 5%;
  padding: 10%;
  gap: 8%;
  width: 85vw;
  color: white;
  background-image: linear-gradient(
    to right,
    #be69eb 0%,
    #e04f4f 50%,
    #f0a21a 100%
  );
}

.lower_content .left_side {
  max-width: 40%;
}

.lower_content .left_side p:nth-child(1) {
  font-size: 1em;
}

.lower_content .left_side p:nth-child(2) {
  font-size: 3em;
  margin-block: 5%;
}

.lower_content .CV {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  padding: 4%;
  cursor: pointer;
  background-color: black;
}

.lower_content .CV a {
  color: white;
  text-decoration: none;
}

.lower_content .CV img {
  background-image: linear-gradient(
    to right,
    #be69eb 0%,
    #e04f4f 50%,
    #f0a21a 100%
  );
  max-height: 3vh;
  min-height: 24px;
  margin-left: 10%;
}

.lower_content .right_side {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: 3vh;
}

.lower_content .step p:nth-child(2) {
  font-size: 2em;
}

/*Мобилки*/

@media (max-width: 768px) or (max-height: 760px) {
  main {
    margin-left: 0;
  }

  .upper_content{
    width: fit-content;
  }

  .lower_content{
    width: fit-content;
  }
}
