@font-face {
  font-family: "main";
  src: url("/assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: "sans_medium";
  src: url("/assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: "sans_bold_italic";
  src: url("/assets/fonts/IBM_Plex_Sans/static/IBMPlexSans-BoldItalic.ttf");
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  width: 100vw;
}

/* ==== Информация сайта ==== */

.content {
  flex-basis: 40%; /* Задайте одинаковую ширину */
  max-width: 40%; /* Ограничите максимальную ширину */
  height: auto;
  flex-direction: column;
}

/* ==== Верхняя половина ==== */

.upper-content {
  display: flex;
  flex-direction: row;
  max-height: 100vh;
}

.upper-content .right-side {
  margin-top: 15vh;
  padding-left: 2vw;
}

.horizontal_line {
  max-width: 100%;
  width: 60vw;
}

.photo {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  width: 25vw;
}

.photo p span {
  font-size: 2.4em;
  text-transform: uppercase;
  color: #e36c11;
}

.text p:first-child {
  font-family: "main";
  font-size: 1.3em;
  /* word-wrap: break-word; */
}

.text p:nth-child(2) {
  font-family: "main";
  font-size: calc(20px + 30 * (100vw - 320px) / 960);
}

.contact_info {
  display: flex;
  /* justify-content: space-between; */
  gap: 1vw;
}

.phone,
.mail,
.experience,
.location {
  display: flex;
  align-items: center;
  gap: 2vw;
}

.contact_info p {
  font-family: "sans_bold_italic";
  font-size: 18px;
  width: 15vw;
}

.contact_info img {
  width: 3vw;
  min-width: 20px;
}

.photo {
  margin: calc(2vw + 2vh);
}
.photo img {
  max-width: 100%;
  height: auto;
}
